<script src="/assets/javascripts/application-dc28a5c849651bd0aa634d3d5f9dd7d212f3297cb3f063df69216417e53f2317.js"></script>
<link rel="stylesheet" media="all" href="/assets/stylesheets/application-72d719150b6d66de8e32fd565c30b18e6107e628b66642641e32bede1b490107.css" />


<!-- Validation failure messages -->
<% if @meal.errors.any? %>
<% @meal.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Add Meal</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/create_meal" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


      <!-- Label and input for date -->

      <div class="form-group">
        <label for="date" class="control-label">
          When did you eat? <div class="ptip">Pro Tip: You can enter all of your dishes for the day at the same time</div>
        </label>


          <div class="row">
            <div class='col-sm-6'>
              <div class="form-group">
                <div class='input-group date' id='datetimepicker'>
                  <input type='text' class="form-control" id="date" name="date">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <script type="text/javascript">
            $(function () {
              $('#datetimepicker').datetimepicker({
                format: 'L'

              });
            });
            </script>
          </div>



        <!-- Label and input for mood -->
        <label for="mood" class="control-label">
          How did you feel after you ate?
        </label>
        <div class="form-group">


          <label class="mymood">
            <input type="radio" value="2" name="mood" id="mood">
            <i class="fa fa-frown-o fa-4x" aria-hidden="true"></i>
          </label>
          <label class="mymood">
            <input type="radio" value="1" name="mood" id="mood">
            <i class="fa fa-meh-o fa-4x" aria-hidden="true"></i>
          </label>
          <label class="mymood">
            <input type="radio" value="0" name="mood" id="mood">
            <i class="fa fa-smile-o fa-4x" aria-hidden="true"></i>

          </label>


        </div>

<div class="form-group">
  <label for="dishes" class="control-label">
    What did you eat? <div class="ptip">Pro Tip: Head to your Dishes tab to see our Recipe database. Don't see what you like, add your own Dish.</div>
  </label>

  <textarea id="dishes" name="dishes" placeholder="Dishes: Separate with commas" class="form-control" rows="3"><%= @dishes %></textarea>

</div>

        <button class="btn btn-success">
          Create Meal
        </button>
        or
        <a href="/meals">Cancel</a>

      </form>

    </div>
  </div>
